<input [(ngModel)]="name" type="text"/>
<input [(ngModel)]="branch" type="text"/>
<input [(ngModel)]="course" type="text"/>
<button (click) = "clicktun()">add first</button>
<button (click) = "clickFun()">add data</button>
<br>
<br>


<!-- <input [(ngModel)]="inputData.name" type="text"/> -->
<br>
<!-- <input name="name" ngModel required #first="ngModel"> -->

<br>
<button (click)="deleteData()">delete data</button>
<button (click) = "clickRun()">remove first</button>
<button (click) = "clickDun()">delete any</button>

<table style="border:2px solid black;text-align: center; width: 400px;">
    <tr>

        <th>name</th>
        <th>rollno</th>
        <th>branch</th>
        <th>course</th>
    </tr>
    <tr *ngFor="let abc of student">
        <td>{{abc.name}}</td>
        <td>{{abc.rollno}}</td>
        <td>{{abc.branch}}</td>
        <td>{{abc.course}}</td>
    </tr>

</table>

<div *ngFor="let bbb of data">
    {{bbb}}
    
    
</div>
{{abc.name}}
{{abc.addess}}<br>

{{head}}<br>
{{headData.name}}<br>
{{headData.data}}<br>
{{num}}<br>
{{price}}<br>
{{product.name}}<br>
{{product.price}}<br><br><br>

<div *ngFor="let ooo of collection">
    {{ooo.name}}<br>
    {{ooo.price}}
    
    
</div><br><br><br>


<input [(ngModel)]="name" type="text"/>

    


